<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>AntiPhish</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.png" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/bootstrap/css/bootstrap.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/icofont/icofont.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/boxicons/css/boxicons.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/animate.css/animate.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/remixicon/remixicon.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/line-awesome/css/line-awesome.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/venobox/venobox.csss') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/owl.carousel/assets/owl.carousel.min.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='assets/vendor/aos/aos.css') }}">
  <!-- Template Main CSS File -->
 
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center  header-transparent ">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">AntiPhish</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="/">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Our Services</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#pricing">select the option..!</a></li>
          <li><a href="#contact">contact</a></li>
      </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>AntiPhish</span></h2>
          <p class="animate__animated fanimate__adeInUp">Don't let your trash become someone else's treasure.
Feed your shredder often. </p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>
 

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Protect your <span> email </span> from impersonation phishing.</h2>
          <p class="animate__animated animate__fadeInUp">Because we care, we're security aware</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>What is Phish?</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              Phishing is a cybercrime in which a target or targets are contacted by email,telephone or text message by someone posing as a legitimate institution to lure individuals into providing sensitive data such as personally identifiable information, banking and credit card details, and passwords.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Do Your Part - Be Security Smart! </li>
              <li><i class="ri-check-double-line"></i>Stop Neglect. Protect before you connect</li>
              <li><i class="ri-check-double-line"></i>Don’t be Quick to Click… be wary when you shop
online.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <img src="assets/img/features-1.png" alt="" class="img-fluid">
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-left">
            <h3>Call To Action</h3>
            <p>Instantly verify the source of every email and prevent the phishing attacks traditional cybersecurity solutions can't catch.</p>
          </div>
          <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#pricing">Call To Action</a>
          </div>
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Services</h2>
          <p>What we do offer</p>
        </div>

        <div class="row">
          <div class="col-lg-6 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="las la-globe-americas" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Manual Check</a></h4>
              <p class="description">AntiPhish software works for all kind of urls(shortened URl or Fully qualified Domain Name) to secure your data and systems.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="las la-file-alt" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Email Scanner</a></h4>
              <p class="description">AntiPhish software works with all major browsers, email clients, and legacy anti-phishing solution to make securing your email identity as easy to implement as it is to use.</p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Portfolio</h2>
          <p>SAMPLE IMAGES</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="https://th.bing.com/th/id/OIP.Ullaog4zPT9cW31JhMV5rgHaJj?pid=ImgDet&rs=1" data-gall="portfolioGallery" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Antiphish</h4>
              <a href="https://th.bing.com/th/id/OIP.Ullaog4zPT9cW31JhMV5rgHaJj?pid=ImgDet&rs=1" data-gall="portfolioGallery" class="venobox preview-link" title="App 1"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="https://th.bing.com/th/id/OIP.U2ZnWNUV_AgaeCPVeZG2kgHaE6?pid=ImgDet&rs=1" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Antiphish</h4>
              <a href="https://th.bing.com/th/id/OIP.U2ZnWNUV_AgaeCPVeZG2kgHaE6?pid=ImgDet&rs=1" data-gall="portfolioGallery" class="venobox preview-link" title="Web 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="https://www.brandshield.com/wp-content/uploads/2020/06/BrandShiel_Anti_Phishing.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Antiphish</h4>
              <a href="https://www.brandshield.com/wp-content/uploads/2020/06/BrandShiel_Anti_Phishing.png" data-gall="portfolioGallery" class="venobox preview-link" title="App 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="https://www.thelisttv.com/wp-content/uploads/2019/10/phisshimg.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Antiphish</h4>
              <a href="https://www.thelisttv.com/wp-content/uploads/2019/10/phisshimg.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="https://s3.amazonaws.com/lowres.cartoonstock.com/computers-email_scams-online_banking-scam-con-scammer-mlyn1280_low.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Antiphish</h4>
              <a href="https://s3.amazonaws.com/lowres.cartoonstock.com/computers-email_scams-online_banking-scam-con-scammer-mlyn1280_low.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Web 2"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="https://th.bing.com/th/id/Rdf900665e3e95b6a86f76bc188d92a65?rik=yZprbkg%2bj%2bothQ&riu=http%3a%2f%2fmedia.dods.co.uk%2fsites%2fmedia.dods.co.uk%2ffiles%2fimage%2fPhishing+man.jpg&ehk=wLcV1KaC7c5iltB5Lt8awTYL3iLDojasOBY0v8cZ%2btI%3d&risl=&pid=ImgRaw" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Email Phish</h4>
              <a href="https://th.bing.com/th/id/Rdf900665e3e95b6a86f76bc188d92a65?rik=yZprbkg%2bj%2bothQ&riu=http%3a%2f%2fmedia.dods.co.uk%2fsites%2fmedia.dods.co.uk%2ffiles%2fimage%2fPhishing+man.jpg&ehk=wLcV1KaC7c5iltB5Lt8awTYL3iLDojasOBY0v8cZ%2btI%3d&risl=&pid=ImgRaw" data-gall="portfolioGallery" class="venobox preview-link" title="App 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="https://i.ytimg.com/vi/L5muYsox9X8/hqdefault.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Phish Awareness</h4>
              <a href="https://i.ytimg.com/vi/L5muYsox9X8/hqdefault.jpg" data-gall="portfolioGallery" class="venobox preview-link" title="Card 1"><i class="bx bx-plus"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="https://aghlc.com/images/infographics/2016/phishing-infographic-160812.png" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Phish Awareness</h4>
              <a href="https://aghlc.com/images/infographics/2016/phishing-infographic-160812.png" data-gall="portfolioGallery" class="venobox preview-link" title="Card 3"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
    </div>
    </section><!-- End Portfolio Section -->

   
    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>CHOOSE YOUR OPTION...!</h2>
          <p>Because we care, we're security aware</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6" style="height:300px;">
            <div class="box" data-aos="zoom-in">
              <h3>Manual Check</h3>
              <p>click the below button to check the URL...</p>
            <div class="btn-wrap">
              <a href="{{ url_for('urlCheck') }}"  class="btn-buy">Click here</a>
             </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0" style="height:300px;">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>Antiphish</h3>
              <p>Protect your data by using our software...!!
              <div class="btn-wrap"></div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0" style="height:300px;">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <h3>Email Check</h3>
              <p>Click the below link to scan your emails</p>
              <div class="btn-wrap">
                <a href="{{url_for('email_url_check')}}" class="btn-buy">Click here</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>#123/6 JPG street,Shivamogga</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>info@example.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+91 85419 56320</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="#" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <h3>AntiPhish</h3>
      <p>Don't let your trash become someone else's treasure.Feed your shredder often..</p>
      <div class="social-links">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
      <div class="copyright">
        &copy; Copyright <strong><span>Antiphish</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

 
  

  
  
  
  
  <!-- Vendor JS Files -->
  <link rel= "stylesheet" type= "text/css" href= "">
  <script src="{{ url_for('static',filename='assets/vendor/jquery/jquery.min.js') }}"></script>
  <script src=" {{ url_for('static',filename='assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/jquery.easing/jquery.easing.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/php-email-form/validate.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/venobox/venobox.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/owl.carousel/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static',filename='assets/vendor/aos/aos.js') }}"></script>

  <!-- Template Main JS File -->
  
  <script src="{{ url_for('static',filename='assets/js/main.js') }}"></script>

</body>

</html>